.regularButton {
    cursor: pointer;
    background-color: #FFF;
    border: 0;
    padding: 12px 40px;
    border-radius: 3px;
    color: #000;
    font-size: 0.8rem;
    letter-spacing: .25px;
    font-family: 'Gotham', sans-serif;
    font-weight: bold;
}