
.categoriesContainer {
  background-color: #0F0F0F;
  width: 260px;
  height: 614px;
  list-style: none;
  padding: 10px 0;
  margin: 0;
  position: relative;
  z-index: 921;

  @media (max-width: 1100px) {
    display: none;
  }
}

.categoriesContainer:hover {
  z-index: 929;
}

.categoryItem {
    cursor: pointer;
    padding: 2px 10px;
    font-size: 16px;
    letter-spacing: .25px;
    color: #999999;
    font-family: 'Gotham', sans-serif;
    font-weight: bold;
}

.categoryItem:hover {
    background-color: #1c1c1c;
    color: #e2e2e2;
}

.categoryItemWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.categoryItemNameWrapper {
  display: flex;
  align-items: center;
  gap: 10px;
}

.categoryItemPicture {
  width: 26px;
  height: 26px;
}

.productList {
  list-style: none;
}

.productListItem {
  color: #9b9fa2;
  font-size: 0.85rem;
  padding: 0;
  margin-left: -40px;
  &:hover {
    color: #fff;
  }
}

.productListLink {
  text-decoration: none;
}

.childCategories {
    list-style: none;
    position: absolute;
    min-width: 260px;
    height: 614px;
    top: 0;
    left: 100%;
    padding: 10px;
    background-color: #0F0F0F;
    z-index: 99;
    display: none;
}
  
.childCategoryItem {
  padding: 5px;
}

.categoryItem:hover .childCategories {
  display: block; 
}

//mobile 

