
.footer {
    padding: 0px 15px 0px 25px;
    @media screen and (max-width: 700px) {
        padding: 0 0 90px 0;
    }
}

.footerTop {
    padding: 25px 0 90px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0px 2rem;
    
    @media screen and (max-width: 900px) {
        flex-direction: column;
        gap: 1rem;
        margin: 0px 5px;
    }
    @media screen and (max-width: 700px) {
        display: none;
    }
}

.footerNavCaption {
    font-family: "Gotham", sans-serif;
    font-weight: bold;
    font-size: 1rem;
}

.footerItemsContainer {
    margin-top: 15px;
    line-height: 1.4;
    max-height: 200px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.footerNav {
    white-space: nowrap;
    width: 40%;
}

.footerItem {
    width: 130px;
}

.footerLink {
    cursor: pointer;
    text-decoration: none;
    color: #9b9fa2;
    text-decoration: none;
    font-family: "Gotham", sans-serif;
    font-weight: bold;
    font-size: 0.8rem;
    transition: all 0.3s ease;
    white-space: pre;
    &:hover {
        color: #fff;
    }
}

.footerSideBlock {
    width: 30%;
}

.footerContactWrapper {
    display: flex;
    flex-direction: column;
    margin-top: 15px;
}

.footerContactLink {
    cursor: pointer;
    text-decoration: none;
    color: #fff;
    text-decoration: none;
    font-family: "Gotham", sans-serif;
    font-weight: bold;
    font-size: 0.8rem;
    &:hover {
        color: #9b9fa2;
    }
}

.footerTimeNote {
    color: #fff;
    text-decoration: none;
    font-family: "Gotham", sans-serif;
    font-weight: bold;
    font-size: 0.9rem;
}

.footerTelegramLink {
    color: #9b9fa2;
    &:hover {
        color: #fff;
    }
}

.footerPaymentsWrapper {
    margin-top: 10px;
    display: flex;
    align-items: center;
}

.svgPaymentItem {
    display: flex;
    align-items: center;
    margin: 0 2px 0 15px;
    height: 25px;
}

//mobile

.footerMobile {
    padding: 12px 6px 0;
    @media screen and (min-width: 700px) {
        display: none;
    }
}

.accordeon {
    background-color: #1d1d1d;
    padding: 0 20px;
    margin-bottom: 6px;
}

.accordeonHeader {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 59px;
}

.accordeonTitle {
    font-weight: bold;
    font-size: 0.9rem;
    color: #fff;
    letter-spacing: .75px;
}

.arrowWrapper {
  transition: transform 0.3s ease;
}

.expanded {
  transform: rotate(180deg);
}

.mobileNavWrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-in-out, opacity 0.3s ease-in-out;
    opacity: 0;
}

.mobileRegularWrapper {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-in-out, opacity 0.3s ease-in-out;
    opacity: 0;
}

.open {
    max-height: 500px; 
    opacity: 1;
    padding-bottom: 15px;
}

.mobileNavItem {
    border-radius: 4px;
    border: 1px solid #999;
    text-decoration: none;
    font-size: 0.9rem;
    padding: 9px 12px;
    font-weight: 600;
    line-height: 20px;
    flex-grow: 1;
    text-align: center;
}

.mobileItemWrapper {
    display: flex;
    align-items: center;
    gap: 10px;
}

.mobileIcon {
    width: 23px;
}

.mobileItemName {
    font-weight: 600;
    font-size: 0.9rem;
    letter-spacing: .75px;
}